/*Signup.css*/
.signup-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90vh;
  background: url("../../images/img4.jpg") no-repeat center center/cover;
  padding-right: 10%;
}

.signup-form {
  background: rgba(255, 255, 255, 0.295);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;

  margin-top: -80px;
}

.signup-form h2 {
  margin-bottom: 25px;
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #414141;
}

/* Responsive */
@media (max-width: 768px) {
  .signup-container {
    justify-content: center;
    padding-right: 0;
  }

  .signup-form {
    width: 90%;
    height: auto;
    padding: 25px;
    margin-top: 0;
  }
}


.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.anchor {
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;

}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  font-weight: bold;
}