.signup-container {
  display: flex;
  height: 90vh;
}

.signup-left {
  flex: 1;
  position: relative;
  background: url("../../images/signup_new.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  color: white;
  z-index: 1;
  backdrop-filter:  blur(10px);;
}



/* Increased font sizes for better visibility */
.signup-left h1 {
  font-size: 3rem; /* Larger heading */
  font-weight: bold;
  color: #000;
}

.signup-left p {
  font-size: 1.4rem; /* Increased paragraph size */
  line-height: 1.6;
  max-width: 500px;
  color: #000;
  font-weight: bold;
}

/* Right side form */
.signup-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5e9f6;
}

.signup-form {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  width: 600px;
  text-align: center;
}

.signup-form h1{
  color: #720369;
}
.form-group {
  margin-bottom: 40px;
  text-align: left;
}

.label{
  font-weight: bold;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 10px;
}

.signup-btn {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  background-color: #720369;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #d196d2;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .signup-left h1 {
    font-size: 2.5rem;
  }
  .signup-left p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    height: auto;
  }
  .signup-left {
    display: none;
  }
  .signup-right {
    width: 100%;
    padding: 30px;
  }
  .signup-form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .signup-form {
    width: 95%;
    padding: 20px;
  }
  .signup-btn {
    font-size: 1rem;
    padding: 12px;
  }
  .signup-left h1 {
    font-size: 2rem;
  }
  .signup-left p {
    font-size: 1rem;
  }
}
