/* Admin.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

/* Container */
.admin-list-container {
  width: 90%;
  background: white;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.admin-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-with-icon {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-icon-inside {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.input-with-icon input:focus {
  border-color: #adadad;
}


.clear-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-search-button:hover {
  background-color: #cc0000;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.appointment-table th,
.appointment-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.appointment-table th {
  background-color: rgb(2, 85, 95);
  color: white;
}

.appointment-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .appointment-table {
    display: block;
    overflow-x: auto;
  }

  .appointment-table th,
  .appointment-table td {
    white-space: nowrap;
  }
}